@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url(../public/fonts/Raleway-VariableFont_wght.ttf) format("truetype-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "CormorantUpright";
  src: url(../public/fonts/CormorantUpright-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@layer base {
  h1 {
    font-family: "CormorantUpright", serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  li {
    margin-bottom: 5px;
  }
}